header {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    width: 90%;
    border: 2px solid black;
}

.container {
    display: flex;
}

.sidebar {
    border: 1px solid black;
    height: 90vh;
}

.popup {
    display: none;
}

.projectName {
    display: none;
}